# Project exclude paths
*.class
/release/*.jar
/release/*.zip
/release/*.txt
/release/*.csv
/release/Obfuscators/Blaur/Binsecure/*.csv
/release/Obfuscated/*.jar
/release/Obfuscated/Blaur/*.jar
/release/Obfuscated/Blaur/Important/*.jar
/release/Obfuscated/Blaur/Important/*.jar.BACKUP
/release/Obfuscated/*.jar.BACKUP
/release/Obfuscated/Blaur/Binscured/*.jar
/release/Obfuscated/Blaur/Binscured/Injector/*.jar
/release/Obfuscated/Important/*.jar
/release/Obfuscated/Important/*.jar.BACKUP
/.gradle/
/.idea/
/build/
/buildSrc/.gradle/
/buildSrc/build/
/DeadZoneAgility/build/
/DeadZoneAgility/build/classes/java/main/
/DeadZoneAltar/build/
/DeadZoneAltar/build/classes/java/main/
/DeadZoneAPI/build/
/DeadZoneAPI/build/classes/java/main/
/DeadZoneAutoClicker/build/
/DeadZoneAutoClicker/build/classes/java/main/
/DeadZoneAutoEat/build/
/DeadZoneAutoEat/build/classes/java/main/
/DeadZoneAutoSpec/build/
/DeadZoneAutoSpec/build/classes/java/main/
/DeadZoneBankSkilling/build/
/DeadZoneBankSkilling/build/classes/java/main/
/DeadZoneConstruction/build/
/DeadZoneConstruction/build/classes/java/main/
/DeadZoneCooking/build/
/DeadZoneCooking/build/classes/java/main/
/DeadZoneGearSwapper/build/
/DeadZoneGearSwapper/build/classes/java/main/
/DeadZoneHunter/build/
/DeadZoneHunter/build/classes/java/main/
/DeadZoneItemDropper/build/
/DeadZoneItemDropper/build/classes/java/main/
/DeadZoneMLM/build/
/DeadZoneMLM/build/classes/java/main/
/DeadZoneNMZ/build/
/DeadZoneNMZ/build/classes/java/main/
/DeadZonePestControl/build/
/DeadZonePestControl/build/classes/java/main/
/DeadZonePrayer/build/
/DeadZonePrayer/build/classes/java/main/
/DeadZonePSkilling/build/
/DeadZonePSkilling/build/classes/java/main/
/DeadZoneRunecrafting/build/
/DeadZoneRunecrafting/build/classes/java/main/
/DeadZoneSmithing/build/
/DeadZoneSmithing/build/classes/java/main/
/DeadZoneThieving/build/
/DeadZoneThieving/build/classes/java/main/
/*/build/
